<ion-view title="Cadastro de movimentação">
  <ion-content class="has-header">
    <div class="list">
      <label class="item item-input item-select">
	    <span class="input-label">Tipo</span>
	    <select ng-model="movimento.tipo_movimento">
	      <option value="1">Despesa</option>
	      <option value="2">Receita</option>
	    </select>
	  </label>

	  <label class="item item-input item-select">
	    <span class="input-label">Categoria</span>
	    <select ng-model="movimento.categoria_codigo">
	      <option ng-repeat="categoria in categorias" value="{{categoria.codigo}}">{{categoria.nome}}</option>
	    </select>
	  </label>

	  <label class="item item-input item-input">
	    <span class="input-label">Valor</span>
	    <input type="number" ng-model="movimento.valor">
	  </label>

	  <label class="item item-input">
	    <span class="input-label">Data</span>
	    <input type="date" ng-model="movimento.data">
	  </label>

	  <label class="item item-input item-select">
	    <span class="input-label">Status</span>
	    <select ng-model="movimento.situacao">
	      <option value="A">Ativo</option>
	      <option value="I">Inativo</option>
	    </select>
	  </label>

	  <button class="button button-block button-positive" ng-click="salvar()">
	    Salvar
	  </button>
	</div>
  </ion-content>
</ion-view>
