<ion-view title="Movimentações">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-clear button-positive" href="#/app/movimentacaocadastro">
    	<i class="icon ion-plus"></i>
    </a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list">
	  <div class="item item-divider">
	    Saldo atual
	  </div>

	  <a class="item" href="#">
	    {{saldo | currency}}
	  </a>

	  <div class="item item-divider">
	    Últimas movimentações
	  </div>

	  <ion-list>
	    <ion-item ng-repeat="movimento in movimentacao">
	      <div class="row">
		    <div class="col">{{movimento.data | date}}</div>
		    <div class="col" ng-if="movimento.tipo_movimento == 1" style="color: red">- {{movimento.valor | currency}}</div>
		    <div class="col" ng-if="movimento.tipo_movimento == 2" style="color: blue">+ {{movimento.valor | currency}}</div>
		  </div>
	    </ion-item>
	  </ion-list>
	</div>
  </ion-content>
</ion-view>
